<div class="col-lg-4 col-md-6 col-sm-6">
    <div class="blog__item">
        <div class="blog__item__pic set-bg" data-setbg="{{asset('uploads/articles/' ~ a.picture)}}"></div>
        <div class="blog__item__text">
            <span><img src="{{ asset('img/icon/calendar.png') }}" alt="">{{ a.createdAt  ? a.createdAt|date('l F o') : '' }} </span>
            <h5>{{ a.title }}</h5>
            <a href="#">Read More</a>
        </div>
    </div>
</div>