{% extends 'base.html.twig' %}

{% block title %}{{ 'category.edit'|trans({ '%name%': category.name }) }}{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1>{{ 'category.edit'|trans({ '%name%': category.name }) }}</h1>

        {{ include('admin/category/_form.html.twig', { 'button_label': 'category.update'|trans }) }}
    </div>
{% endblock %}
