{% extends 'base.html.twig' %}

{% block title %}{{ 'product.create'|trans }}{% endblock %}

{% block body %}
    <div class="container my-3">
        <h1 class="mb-3">{{ 'product.create'|trans }}</h1>

        {{ include('admin/product/_form.html.twig') }}
    </div>
{% endblock %}
