{% extends 'admin.html.twig' %}

{% block title %}{{ 'article.edit'|trans({ '%name%': article.title }) }}{% endblock %}

{% block body %}
    <div class="container my-3">
        <h1 class="mb-3">{{ 'article.edit'|trans({ '%name%': article.title }) }}</h1>

        {{ include('admin/article/_form.html.twig', { 'button_label': 'save'|trans }) }}
    </div>
{% endblock %}
