{% extends 'admin.html.twig' %}

{% block title %}{{ 'article.create'|trans }}{% endblock %}

{% block body %}
    <div class="container my-3">
        <h1 class="mb-3">{{ 'article.create'|trans }}</h1>

        {{ include('admin/article/_form.html.twig') }}
    </div>
{% endblock %}
