{% extends 'base.html.twig' %}

{% block title %}Modifier son profil{% endblock %}

{% block body %}

    <section class="contact_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="form_container">
                        <div class="heading_container">
                            <h2>
                                Modification du mot de passe
                            </h2>
                        </div>

                        <form method="post">
                            <div class="form-field">
                                <label for="pass">Mot de passe actuel</label>
                                <input type="password" id="currentpass" name="currentpass" class="form-control">
                            </div>
                            <div class="form-field">
                                <label for="pass">Nouveau mot de passe</label>
                                <input type="password" id="pass" name="pass" class="form-control">
                            </div>
                            <div class="form-field">
                                <label for="pass"> Confirmer le nouveau mot de passe</label>
                                <input type="password" id="pass2" name="pass2" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-dark">Valider</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}